@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");

.data {
  font-family: "Source Code Pro", monospace;
  font-size: 16px;
  margin: 0 auto;
  text-align: center;
  background-color: black;
  height: fit-content;
  width: fit-content;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  margin-top: 20px;
}
@media (max-width: 900px) {
  .data {
    font-size: 14px;
  }
}
